<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>HR application</title>
		<style>
			label {
				display: inline-block;
				width: 150px;
			}
			input {
				display: inline-block;
				width: 200px;
			}
		</style>
	</head>
	<body>
		<h1>Edit employee</h1>
		<form th:action="@{/edit_employee}" th:method="post" th:object="${actEmployee}">
			<input type="hidden" th:field="*{id}" id="id"/> <br />
			<label for="name">Name:</label>
			<input th:field="*{name}" id="name" /> <br />
			<label for="position">Position:</label>       
			<input th:field="*{position}" id="position"/> <br />
			<label for="salary">Salary:</label>
			<input type="number" th:field="*{salary}" id="salary" /> <br />
			<label for="since">Employed since:</label>
			<input type="datetime-local" th:value="*{employedSince}" th:field="*{employedSince}" id="since"/> <br />
			<!--label for="btn"></label-->
			<br />
			<input type = "submit" value="Modify" id="btn" />
		</form>
	</body>
</html>